<!DOCTYPE html>
<html lang="en">
<div id="container">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
        <script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
        </title>
        <title>Eat-Da-burger</title>
        <nav class="navbar has-background-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-brand has-background-warning">
                <a class="navbar-item" href="/">
                    <img src="https://i.ibb.co/BNxchCb/logo-burger-fast-food-joint-by-Vexels.png">

                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item">
                        <h1 class="h1Cont">Eat-Da-burger</h1>
                    </a>

                </div>
            </div>
        </nav>
    </head>

    <body>

        {{{body}}}

    </body>

</div>

</html>