<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
<div class="centeredDiv"></div>
<div class="columns">


<div class="column is-offset-1"> 
    {{#each burger}}
    <div class ="smallerDivs">
<span id ="one"> {{this.id}}</span>
<span id ="two"> {{this.burger_name}}</span>
<span id ="three"><button class ="button devour is-light is-rounded ">Devour!</button></span>
</div>
   
     {{/each}}
  </div>

  <div class="column is-offset-">
  
    <img src="https://i.ibb.co/W2PMSPj/vectorburger.png" height="200px" width="200px" class="image">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burgerName">Burger:</label>
        <input type="text" id="burgerName" name="name">
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </div>
<div class="column">
<div class ="smallerDivs">
<span id ="one">1</span>
<span id ="two">2</span>
<span id ="three"><button class ="button devour is-light is-rounded ">Devour!</button></span>
</div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
          $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();
            var newBurger = {
              burger_name: $("#burgerName").val()
              devoured: $("[devoured=no]:checked").val()
            };
            $.ajax({
              url: "/",
              method: "POST",
              data: burger,
              datatype: 'text'
            }).then(function (res) {
              $( ".devoured" ).click(function() {
  $( "#book" ).animate({
    opacity: 0.25,
    left: "+=50",
    height: "toggle"
  }, 5000, function() {
    // Animation complete.
  });
});
            })
          })
        })

    </script>